h1 {color:green;}
img {border-radius:30%;
	max-width:110px;}
p{font-family: starwars; font-size: 12px; color: black;}

table{
	font-size: 15px;}
.pink {color:pink;}
body {background-color:black;}
.blue {color:blue;}
.purple {color:purple;}
